/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}
a:active {
    color: auto;
}

img {
	display: block;
}

body {
	min-width: 1140px;
}

header {
	position: relative;
	box-shadow: 0 0 8px rgba(0, 0, 0, .3);
	z-index: 10;
}

.social {
    padding: 4px 20px;
    background-color: #eeeeee;
    font-size: 0;
    text-align: right;
}

.social_item {
    display: inline-block;
    font-size: 0;
}

.social_item+.social_item {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #dddddd;
}

.social_item img,
.social_item span {
    display: inline-block;
    vertical-align: middle;
}

.social_item span {
    margin-left: 4px;
    font-size: 14px;
}

.social_item.facebook {
    color: #3b5998;
}

.social_item.twitter {
    color: #00acee;
}

.menu {
    display: flex;
	align-items: center;
	background-color: #ffffff;
}

.menu_logo {
    flex: 0 0 auto;
}

.menu_nav {
    flex: 1;
}

.nav {
    font-size: 0;
    text-align: right;
}

.nav_item {
    position: relative;
    display: inline-block;
	box-sizing: border-box;
	background-color: #ffffff;
}

.nav>.nav_item+.nav_item {
    margin-left: 4px;
}

.nav_item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(77, 204, 162);
    transform: translateX(-50%);
    transition: all .2s;
}

.nav_item:hover:after,
.active.nav_item:after {
    width: 100%;
}

.nav_link {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    color: rgb(77, 204, 162);
}

.nav_sub {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.swiper-slide img {
	width: 100%;
}
.swiper-button-next,
.swiper-button-prev {
	color: #ffffff;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
	background: #ffffff;
}

.wrap {
	box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    padding: 64px 16px;
}

.intro {
	display: flex;
}


.lightboxOverlay {
	outline:none;
}

.card {
    flex: 1;
	padding: 24px;
	color: #111111;
    box-shadow: 0 0 8px #dddddd;
    border-radius: 8px;
}

.card+.card {
    margin-left: 32px;
}

.card_img {
    display: flex;
    justify-content: center;
    min-height: 139px;
}

.card_img img {
    margin: auto;
}

.card_title {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.list {
    list-style: disc;
}

.list li {
    margin-left: 28px;
}

.list li:first-of-type {
    margin-top: 4px;
}

.difference {
	margin-top: 64px;
}

.difference_title {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.difference_content {
	margin-top: 32px;
}
.table {
	width: 100%;
}

.table thead {
	background-color: #eeeeee;
}

.table tr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.table th,
.table td {
	padding: 12px 0 12px 24px;
	font-size: 18px;
	text-align: left;
}

.table th:last-of-type,
.table td:last-of-type {
	padding: 12px 24px;
}

.table th {
	font-weight: bold;
}

.win {
	color: rgb(77, 204, 162);
}

.inputBox {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #dddddd;
	outline:none;
	/* -webkit-appearance: none;
	-moz-appearance: none; */
	appearance: none;
}

textarea.inputBox {
	height: 100%;
	resize: none;
}

.contact {
	background: linear-gradient(#00644b , #009872);
}

.contact_title {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

.contact_content {
	display: flex;
	margin-top: 32px;
}

.form {
	flex: 1;
}

.form+.form {
	margin-left: 32px;
}

.form_title {
	margin: 8px 0;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}

.form_item:first-of-type .form_title {
	margin-top: 0;
}

.form_action {
	text-align: right;
	/* pointer-events: none; */
}

.inputBox_submit {
	margin-top: 32px;
	width: 90px;
	height: 45px;
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	border: none;
	border-radius: 4px;
	background-color: rgb(77, 204, 162);
	outline: none;
	cursor: pointer;
}

.inputBox_submit:active {
	opacity: .8;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 20px;
}

.footer_logo {
    flex: 0 0 auto;
}

.footer_contact {
    flex: 0 0 auto;
}

.contact_link {
	color: palevioletred;
}

.goTop {
	position: fixed;
	right: 32px;
	bottom: 72px;
	display: none;
	width: 48px;
	padding: 12px 0;
	background-color: rgba(0, 0, 0, .3);
}

.goTop p {
	color: #ffffff;
	text-align: center;
}