/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}
a:active {
    color: auto;
}

img {
	display: block;
}


.social {
    padding: 4px;
    background-color: #eeeeee;
    font-size: 0;
    text-align: right;
}

.social_item {
    display: inline-block;
    font-size: 0;
}

.social_item+.social_item {
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #dddddd;
}

.social_item img,
.social_item span {
    display: inline-block;
    vertical-align: middle;
}

.social_item span {
    margin-left: 4px;
    font-size: 14px;
}

.social_item.facebook {
    color: #3b5998;
}

.social_item.twitter {
    color: #00acee;
}

.menu {
    display: flex;
    align-items: center;
}

.menu_logo {
    flex: 0 0 auto;
}

.menu_nav {
    flex: 1;
}

.nav {
    font-size: 0;
    text-align: right;
}

.nav_item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.nav>.nav_item+.nav_item {
    margin-left: 4px;
}

.nav_item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(77, 204, 162);
    transform: translateX(-50%);
    transition: all .2s;
}

.nav_item:hover:after,
.active.nav_item:after {
    width: 100%;
}

.nav_link {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    color: rgb(77, 204, 162);
}

.nav_sub {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.swiper-slide img {
	width: 100%;
}

.product {
	margin: 64px 0;
}

.wrap {
    max-width: 1140px;
    margin: auto;
    padding: 0 16px;
}

.intro {
	display: flex;
}

.intro_card {
    flex: 1;
    padding: 24px;
    box-shadow: 0 0 8px #dddddd;
    border-radius: 8px;
}

.intro_card+.intro_card {
    margin-left: 32px;
}

.intro_img {
    display: flex;
    justify-content: center;
    min-height: 139px;
}

.intro_img img {
    margin: auto;
}

.intro_title {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.intro_list {
    list-style: disc;
}

.intro_list li {
    margin-left: 28px;
}

.intro_list li:first-of-type {
    margin-top: 4px;
}

.difference {
	margin-top: 64px;
}

.difference_title {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}

.difference_table {
	width: 100%;
	margin-top: 24px;
}

.difference_table thead {
	background-color: #eeeeee;
}

.difference_table tr {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.difference_table th,
.difference_table td {
	padding: 8px 0 8px 24px;
	font-size: 18px;
	text-align: left;
}

.difference_table th:last-of-type,
.difference_table td:last-of-type {
	padding: 8px 24px;
}

.difference_table th {
	font-weight: bold;
}

.win {
	color: rgb(77, 204, 162);
}